In [88]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import itertools
import operator
import datetime

In [89]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [90]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [91]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [92]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [93]:
title_largest_bud = data[data.budget == data.budget.max()].original_title.iloc[0]
id_largest_bud = data[data.budget == data.budget.max()].imdb_id.iloc[0]
answer = '5. ' + title_largest_bud + ' (' + id_largest_bud + ')'
print(answer)
print(data[data.budget == data.budget.max()].budget.iloc[0])
# тут пишем ваш код для решения данного вопроса:

5. Pirates of the Caribbean: On Stranger Tides (tt1298650)
380000000

ВАРИАНТ 2

In [619]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [94]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [95]:
title_largest_rtime = data[data.runtime == data.runtime.max()].original_title.iloc[0]
id_largest_rtime = data[data.runtime == data.runtime.max()].imdb_id.iloc[0]
answer = '2. ' + title_largest_rtime + ' (' + id_largest_rtime + ')'
print(answer)
print(data[data.runtime == data.runtime.max()].runtime.iloc[0])

2. Gods and Generals (tt0279111)
214

# 3. Какой из фильмов самый короткий (в минутах)?

In [96]:
title_largest_rtime = data[data.runtime == data.runtime.min()].original_title.iloc[0]
id_largest_rtime = data[data.runtime == data.runtime.max()].imdb_id.iloc[0]
answer = '3. ' + title_largest_rtime + ' (' + id_largest_rtime + ')'
print(answer)
print(data[data.runtime == data.runtime.min()].runtime.iloc[0])
answers['3'] = answer

3. Winnie the Pooh (tt0279111)
63

# 4. Какова средняя длительность фильмов?

In [98]:
df_describe = data.describe()
mean_runtime = str(int(round(df_describe.loc['mean']['runtime'])))
answer = '2. ' + mean_runtime
answers['4'] = answer
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110'}

# 5. Каково медианное значение длительности фильмов?

In [99]:
df_describe = data.describe()
median_runtime = str(int(round(df_describe.loc['50%']['runtime'])))
answer = '1. ' + median_runtime
answers['5'] = answer
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110', '5': '1. 107'}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [100]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
#display(data.describe())
title_largest_profit = data[data.profit == data.profit.max()].original_title.iloc[0]
id_largest_profit = data[data.profit == data.profit.max()].imdb_id.iloc[0]
answer = '5. ' + title_largest_profit + ' (' + id_largest_profit + ')'
#print(answer)
#print(data[data.profit == data.profit.max()].profit.iloc[0])
answers['6'] = answer
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110', '5': '1. 107', '6': '5. Avatar (tt0499549)'}

# 7. Какой фильм самый убыточный?

In [101]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data.revenue - data.budget
#display(data.describe())

In [102]:
title_largest_profit = data[data.profit == data.profit.min()].original_title.iloc[0]
id_largest_profit = data[data.profit == data.profit.min()].imdb_id.iloc[0]

answer = '5. ' + title_largest_profit + ' (' + id_largest_profit + ')'
#print(answer)
#print(data[data.profit == data.profit.max()].profit.iloc[0])
answers['7'] = answer
#print(answers)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [103]:
num_positive_profit = str(len(data[data.profit>0]))
answer = '1. ' + num_positive_profit
#print(answer)
#print(data[data.profit == data.profit.max()].profit.iloc[0])
num_positive_profit
answers['8'] = answer
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110', '5': '1. 107', '6': '5. Avatar (tt0499549)', '7': '5. The Lone Ranger (tt1210819)', '8': '1. 1478'}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [104]:
data_year = data[(data.release_year == 2008)]
title_largest_profit_y = data_year[data_year.profit == data_year.profit.max()].original_title.iloc[0]
id_largest_profit_y = data_year[data_year.profit == data_year.profit.max()].imdb_id.iloc[0]
answer = '4. ' + title_largest_profit_y + ' (' + id_largest_profit_y + ')'
print(answer)
answers['9'] = answer
print(answers)

4. The Dark Knight (tt0468569)
{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110', '5': '1. 107', '6': '5. Avatar (tt0499549)', '7': '5. The Lone Ranger (tt1210819)', '8': '1. 1478', '9': '4. The Dark Knight (tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [105]:
data_year = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
title_largest_profit_y = data_year[data_year.profit == data_year.profit.min()].original_title.iloc[0]
id_largest_profit_y = data_year[data_year.profit == data_year.profit.min()].imdb_id.iloc[0]
answer = '5. ' + title_largest_profit_y + ' (' + id_largest_profit_y + ')'
#print(answer)
answers['10'] = answer
#print(answers)

# 11. Какого жанра фильмов больше всего?

In [106]:
def list_of_uniq(df, name_of_column):
    '''Функция создает спискок уникальных элементов из колонок датафрейма c мультипраметрами
    df - загружаемые dataframe
    name_of_column - название колонки по которой создавать уникальный список'''
    raw_list = df[name_of_column].unique() #список уникальных строк из колонки датафрейм для уменьшения итераций
    uniq_list = []
    for line in raw_list:
        words = line.split('|')
        for word in words:
            if word not in uniq_list:
                uniq_list.append(word)
    return uniq_list
#как выяснилось позже это просто "изобретенный заново велосипед" - можно просто заменить на explode а затем unique

In [112]:
def dict_of_uniq_count(df, name_of_column):
    '''Функция создает словарь уникальных элементов из колонок датафрейма с мультипараметрами
    + расчитывает количество вхождений каждого отдельного элемента
    df - загружаемые dataframe
    name_of_column - название колонки по которой создавать уникальный список'''
    uniq_dict = collections.Counter()
    for line in df[name_of_column]:
        words = line.split('|')
        uniq_dict += collections.Counter(words)
    return(uniq_dict)     

#как выяснилось позже это просто "изобретенный заново велосипед" - можно просто заменить на explode потом value counts

In [113]:
def dict_of_uniq(df, name_of_column):
    '''Функция создает словарь уникальных элементов из колонок датафрейма с мультипараметрами
    значениям 
    df - загружаемые dataframe
    name_of_column - название колонки по которой создавать уникальный список'''
    raw_list = df[name_of_column].unique() #список уникальных строк из колонки датафрейм для уменьшения итераций
    uniq_dict = Counter('')
    for line in raw_list:
        words = line.split('|')
        uniq_dict += Counter(words)
    return(uniq_dict)

In [117]:
#вариант 1 - использовать функцию dict_of_uniq, отсортировать полученный словарь
#и взять название максимального элемента 
dict_uniq_genres = dict_of_uniq_count(data, 'genres')
name_max_genre = sorted(dict_uniq_genres.items(), key=operator.itemgetter(1))[-1][0]
answer = '3. ' + str(name_max_genre)
answers['11'] = answer
#print(answers)

ВАРИАНТ 2

In [118]:
#для каждого единичного жанра посчитать длинну датафрейма содержащего только этот жанр и расчитать 
list_of_genres = list_of_uniq(data, 'genres')
max_value = 0
name_max_genre = ''
for genre in list_of_genres:
    max_predict = len(data[data.genres.str.contains(genre)])
    if max_predict > max_value:
        max_value = max_predict
        name_max_genre = genre
answer = '3. ' + str(name_max_genre)
answers['11'] = answer

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [636]:
#проверка длительности работы создания списков уникальных элементов входящих в различные колонки dataframe
from time import time

def mean_time(func, df, column):
    time_taken_sum = []
    for i in range(0,20):
        start_time = time()
        list_or_dict = func(df, column)
        end_time = time()
        time_taken = end_time - start_time
        time_taken_sum.append(time_taken)
    mean_time = round(np.mean(time_taken_sum), 4)
    print(f"Функция {func} работает для колонки {column} в среднем {mean_time} секунд")
    return(mean_time)

mean_time(dict_of_uniq, data, 'genres')
mean_time(list_of_uniq, data, 'genres')
mean_time(dict_of_uniq_count, data, 'genres')
mean_time(dict_of_uniq, data, 'production_companies')
mean_time(list_of_uniq, data, 'production_companies')
mean_time(dict_of_uniq_count, data, 'production_companies')
mean_time(dict_of_uniq, data, 'cast')
mean_time(list_of_uniq, data, 'cast')
mean_time(dict_of_uniq_count, data, 'cast')

Функция <function dict_of_uniq at 0x000002EA47DCC708> работает для колонки genres в среднем 0.0066 секунд
Функция <function list_of_uniq at 0x000002EA47DCC558> работает для колонки genres в среднем 0.0011 секунд
Функция <function dict_of_uniq_count at 0x000002EA47DCCDC8> работает для колонки genres в среднем 0.0215 секунд
Функция <function dict_of_uniq at 0x000002EA47DCC708> работает для колонки production_companies в среднем 0.1921 секунд
Функция <function list_of_uniq at 0x000002EA47DCC558> работает для колонки production_companies в среднем 0.0711 секунд
Функция <function dict_of_uniq_count at 0x000002EA47DCCDC8> работает для колонки production_companies в среднем 0.2252 секунд
Функция <function dict_of_uniq at 0x000002EA47DCC708> работает для колонки cast в среднем 0.4393 секунд
Функция <function list_of_uniq at 0x000002EA47DCC558> работает для колонки cast в среднем 0.2829 секунд
Функция <function dict_of_uniq_count at 0x000002EA47DCCDC8> работает для колонки cast в среднем 0.4019 секунд

0.4019

In [119]:
#выяснив выше, что функция list_of_uniq работает быстрее чем dict_of_uniq + нам не нужно считать количество вхождений
#вариант 1 - строим анализ по среднему или медиане значению колонки profit - ПОДХОД 
list_of_genres = list_of_uniq(data, 'genres')
max_value = 0
name_maxprof_genre = ''
for genre in list_of_genres:
    df_describe = data[data.genres.str.contains(genre)].describe()
    mean_profit = df_describe.loc['50%']['profit']
    #print(f"{genre} - {mean_profit}")
    if mean_profit > max_value:
        max_value = mean_profit
        name_maxprof_genre = genre
#print(name_max_genre)
answer = '3. ' + str(name_maxprof_genre)
#answers['12'] = answer
print(answer)

3. Animation

ВАРИАНТ 2

In [120]:
#анализируем количество фильмов с положительным значением profit
list_of_genres = list_of_uniq(data, 'genres')
max_value = 0
name_maxprof_genre = ''
for genre in list_of_genres:
    #number_of_films = len(data[data.genres.str.contains(genre)])
    number_of_profit_films = len(data[(data.genres.str.contains(genre)) & (data.profit>0)]) #количество фильмов в определенном жанре с profit >0  
    #perc_profit_films = number_of_profit_films/number_of_films
    #print(f"{genre} - {number_of_profit_films}")
    if number_of_profit_films > max_value:
        max_value = number_of_profit_films
        name_maxprof_genre = genre
#print(name_max_genre)
answer = '1. ' + str(name_maxprof_genre)
answers['12'] = answer
print(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)', '2': '2. Gods and Generals (tt0279111)', '3': '3. Winnie the Pooh (tt0279111)', '4': '2. 110', '5': '1. 107', '6': '5. Avatar (tt0499549)', '7': '5. The Lone Ranger (tt1210819)', '8': '1. 1478', '9': '4. The Dark Knight (tt0468569)', '10': '5. The Lone Ranger (tt1210819)', '11': '3. Drama', '12': '1. Drama'}

In [639]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
data_director = data.explode('director')
grouped_dat_dir = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answer = '5. ' + grouped_dat_dir.index[0]
answers['13'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '23': '5. Peter Jackson'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [121]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
data_director = data.explode('director')
grouped_dat_dir = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answer = '5 ' + grouped_dat_dir.index[0]
answers['13'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [122]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
data_director = data.explode('director')
counted_dat_dir = data_director[data_director.genres.str.contains('Action')].director.value_counts()
answer = '3. ' + counted_dat_dir.index[0]
answers['14'] = answer
display(counted_dat_dir)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Vicky Jenson          1
Kurt Wimmer           1
Mike Newell           1
MÃ¥ns MÃ¥rlind        1
Mabrouk El Mechri     1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [123]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data_actor = data.explode('cast')
#display(data_actor)
grouped_act_dir = data_actor[data_actor.release_year == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

answer = '3. ' + grouped_act_dir.index[0]
answers['15'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [124]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data_actor = data.explode('cast')
#display(data_actor)
grouped_act_dir = data_actor[data_actor.budget > data_actor.budget.mean()].cast.value_counts()

answer = '3. ' + grouped_act_dir.index[0]
answers['16'] = answer

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [125]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data.genres = data.genres.apply(lambda x: x.split('|'))
data_act_gen = data.explode('cast').explode('genres')
grouped_act_dir = data_act_gen[data_act_gen.cast == 'Nicolas Cage'].genres.value_counts()

answer = '2. ' + grouped_act_dir.index[0]
answers['17'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [126]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
min_profit_universal = data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by=['profit'], ascending=True)

answer = '1. ' + min_profit_universal.iloc[0].loc['original_title'] + ' (' + min_profit_universal.iloc[0].loc['imdb_id'] + ')'
answers['18'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [127]:
data = pd.read_csv('movie_bd_v5.csv')
grouped_year_rev = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

answer = '5. ' + str(grouped_year_rev.index[0])
answers['19'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [128]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
grouped_year_rev = data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

answer = '1. ' + str(grouped_year_rev.index[0])
answers['20'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [129]:
def month_recognition(date):
    '''Функция принимает на вод строку с датой в формате мм/дд/гггг и выдает 
    рускоязычное название месяца'''
    month = datetime.datetime.strptime(date, "%m/%d/%Y").month
    month_dict = {1: 'Январь',
                  2: 'Февраль',
                  3: 'Март',
                  4: 'Апрель',
                  5: 'Май',
                  6: 'Июнь',
                  7: 'Июль',
                  8: 'Август',
                  9: 'Сентябрь',
                  10: 'Октябрь',
                  11: 'Ноябрь',
                  12: 'Декабрь'
                 }
    return(month_dict[month])

month_recognition('12/4/2015')

'Декабрь'

In [130]:
data['month_release'] = data.release_date.apply(lambda x: month_recognition(x))
month_film_count = data.month_release.value_counts()

answer = '4. ' + month_film_count.index[0]
answers['21'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [131]:
data = pd.read_csv('movie_bd_v5.csv')
data['month_release'] = data.release_date.apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y").month)
num_summer_films = len(data[(data.month_release >= 6) & (data.month_release <= 8)])

answer = '2. ' + str(num_summer_films)
answers['22'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450'}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [132]:
data = pd.read_csv('movie_bd_v5.csv')
data.director = data.director.apply(lambda x: x.split('|'))
data_director = data.explode('director')
data_director['month_release'] = data_director.release_date.apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y").month)
winter_sorted = data_director[(data_director.month_release >= 11) | (data_director.month_release <= 1)].director.value_counts()

answer = '5. ' + str(winter_sorted.index[0])
answers['23'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [133]:
data = pd.read_csv('movie_bd_v5.csv')
data['number_of_characters_title'] = data.original_title.apply(lambda x: len(x.replace(' ', '')))
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))
data_prod_company = data.explode('production_companies')
max_group = data_prod_company.groupby(['production_companies'])['number_of_characters_title'].max().sort_values(ascending=False)

answer = '5. ' + str(max_group.index[0])
answers['24'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [134]:
data = pd.read_csv('movie_bd_v5.csv')
data['number_of_words_overview'] = data.overview.apply(lambda x: len(x.split(' ')))
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))
data_prod_company = data.explode('production_companies')
max_group = data_prod_company.groupby(['production_companies'])['number_of_words_overview'].mean().sort_values(ascending=False)

answer = '3. ' + str(max_group.index[0])
answers['25'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [135]:
import operator 
import functools 
data = pd.read_csv('movie_bd_v5.csv')
one_percent_data = data[['original_title', 'vote_average']].sort_values(by=['vote_average'], ascending=False).head(int(len(data)*0.01))

#поиск правильного ответа из предложенных с номером 
answer_list = [['Inside Out', 'The Dark Knight', '12 Years a Slave'], 
              ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
              ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down'],
              ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1'],
              ['Upside Down', 'Inside Out', 'Iron Man']
            ]

answer_num = 1
b=0
for answerss in answer_list:
    answer1 = [any(one_percent_data.original_title == x) for x in answerss]
    b = functools.reduce(operator.mul, answer1, 1)
    if b == 0:
        answer_num += 1
        continue
    elif b == 1:
        answer_num = str(answer_num)
        break
answer = answer_num + '. ' + answerss[0] + ', ' + answerss[1] + ', ' + answerss[2]
answers['26'] = answer
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [136]:
data = pd.read_csv('movie_bd_v5.csv')
data.cast = data.cast.apply(lambda x: x.split('|'))
data['counter_duplicate'] = data.cast.apply(lambda x: collections.Counter(list(itertools.combinations(x, 2))))

actors_list = collections.Counter()
print(type(actors_list))
for i in data.counter_duplicate:
    actors_list = actors_list + i
display(actors_list.most_common(1))

names_of_actors = list(dict(actors_list.most_common(1)).keys())
answer = '5. ' + names_of_actors[0][0] + ' & ' + names_of_actors[0][1]
answers['27'] = answer
display(answer)

<class 'collections.Counter'>

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

'5. Daniel Radcliffe & Rupert Grint'

# Submission

In [137]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt0279111)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5 Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [138]:
# и убедиться что ни чего не пропустил)
len(answers)

27